html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f4ede5;
  margin: 0vh;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: visible;
}

#circle {
  width: 75%;
  background: #f4ede5;
  border-radius: 50%;
  aspect-ratio: 1;
  margin: 0.75vh;
}

#box {
  width: 75%;
  height: 2.5%;
  background: #a6a6ae;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 1.25vh;
  padding-bottom: 1.25vh;
  color: #f4ede5;
  font-weight: 800;
  letter-spacing: 0.6vh;
  font-size: 2vh;
  aspect-ratio: 1;
  word-wrap: break-word;
  text-size-adjust: none;
  margin: 2vh;
  object-fit: contain;
}

#text {
  width: 75%;
  text-align: center;
  margin: 0.1vh;
  font-size: 2vh;
  word-wrap: break-word;
  text-size-adjust: none;
  color: #f4ede5;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-left {
  width: 24%;
  height: 100vh;
  padding: 1vh;
  background-color: #5a637a;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  flex-direction: column;
}

.flex-right {
  margin-left: 24%;
  width: 76%;
  padding-left: 2.5vh;
  padding-right: 0.25vh;
  padding-top: 0.25vh;
  padding-bottom: 0.25vh;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0vh;
  padding: 2vh;
}

li {
  height: 40vh;
  flex-grow: 1;
  padding: 2vh;
}

li:last-child {
  flex-grow: 10;
}

#i {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  cursor: pointer;
  transition: 0.3s;
  background-color: #fff;
}

#i:hover {
  opacity: 0.7;
}

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  #i {
    width: 100%;
    min-width: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  flex-direction: column;
}

.modal-content {
  margin: 0vh;
  display: block;
  max-height: 62.5%;
  max-width: 62.5%;
  object-fit: contain;
  aspect-ratio: auto;
  cursor: pointer;
  align-self: center;
}

#caption {
  margin: 0vh;
  display: block;
  align-self: center;
  max-width: 50%;
  max-height: 100%;
  text-align: center;
  color: #f4ede5;
  padding: 2.5vh 0;
  font-size: 2.5vh;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 2.5vh;
  right: 5.8vh;
  color: #f4ede5;
  font-size: 6.65vh;
  font-weight: bold;
}

.close:hover {
  text-decoration: none;
  cursor: pointer;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #5a637a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

.loader {
  display: inline-block;
  width: 5vh;
  height: 5vh;
  position: relative;
  border: 0.65vh solid #f4ede5;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #f4ede5;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@media only screen and (max-width: 864px) {
  .modal-content {
    width: 100%
  }
  .flex-left{
      display: none;
  }
  .flex-right{
    margin-left: 0vh;
    width: 100%;
    padding: 0vh;
  }
}
